/********** GENERAL **********/
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ECECEC;
    color: #404040;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Lato', sans-serif;
    color: inherit;
    text-transform: uppercase;
    margin-top: 20px;
}

h1, .h1 {
    font-size: 34px;
    font-weight: 900;
}

h2, .h2 {
    font-size: 24px;
    font-weight: 400;
}

h3, .h3 {
    font-size: 20px;
    font-weight: 400;
}

h4, .h4 {
    font-size: 20px;
    font-weight: lighter;
}

h5, .h5 {
    font-size: 14px;
    font-weight: lighter;
}

a {
    color: #404040;
}

    a:hover {
        text-decoration: none;
    }

address {
    font-size: 14px;
}

/********* HEADER / FOOTER **********/
header, footer {
    margin-bottom: 30px;
}

header {
    margin-bottom: 30px;
    text-transform: uppercase;
}

footer {
    margin-top: 30px;
    margin-bottom: 0;
}

header > div {
    z-index: 500;
    height: 60px;
    line-height: 60px;
    font-weight: bold;
    border: 1px solid #ECECEC;
    border-top: 0;
    background-color: inherit;
}

    header > div + div {
        border-right: 0;
    }

header p {
    line-height: normal;
    font-weight: 300;
    text-transform: none;
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
}

footer > div {
    border: 1px solid #ECECEC;
    border-top: 0;
    border-bottom: 0;
}

    footer > div + div {
        border-right: 0;
    }

/********** HEADER RESPONSIVE**********/

@media (min-width:576px) {
    header {
        position: fixed;
        top: 0;
        z-index: 50;
        width: 540px;
    }

        header.fluid {
            width: 100%;
            max-width: 1400px;
        }

    .body-content {
        margin-top: 150px;
    }

        .body-content + .body-content {
            margin-top: 0px;
        }
}

@media (min-width:768px) {
    header {
        width: 720px;
    }
}

@media (min-width:992px) {
    header {
        width: 960px;
    }

    .body-content {
        margin-top: 90px;
    }
}

@media (min-width:1200px) {
    header {
        width: 1140px;
    }
}

.container-fluid {
    max-width: 1400px;
}
/********** ACCOUNT MANAGEMENT / SEARCH **********/

#account-btn:hover, #search-btn:hover {
    cursor: pointer;
}

#account, #search {
    z-index: 499;
    width: 100%;
    height: auto;
    border-top: 1px solid #ECECEC;
    border-bottom: 5px solid #404040;
    padding: 15px;
    background-color: #FFF;
    transition: 1s;
    display: none;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
}

    #account.active, #search.active {
        transition: 1s;
        display: block;
    }

    #account.active {
        position: absolute;
        top: 180px;
        z-index: 501;
    }



@media (min-width: 576px) {
    #account, #search {
        display: block;
        border: 1px solid #ECECEC;
        border-top: 0;
        border-bottom: 5px solid #404040;
        padding: 15px;
        background-color: #FFF;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 1s;
    }

        #account.active, #search.active {
            top: auto;
            -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -o-transform: translateY(100%);
            -ms-transform: translateY(100%);
            transform: translateY(100%);
            transition: 1s;
            z-index: 499;
        }
}

/********** ADVERTISING **********/
footer, .ads {
    margin-top: 30px;
    margin-bottom: 0;
}

/********** THE UNIT CLASS STYLES **********/

.content, .body-content {
    background-color: #FFF;
}

.sub-heading {
    padding: 0 15px 15px 30px;
}

.unit-site {
    background-image: url('../Media/Uploads/the-unit.jpg');
    background-size: 400px;
}

/********** UTILITY CLASSES **********/

.author {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

    .author:before {
        content: "by ";
    }

.inverse {
    background-color: #404040;
    color: #FFF;
    transition: 1s;
}

.white-space {
    padding: 30px 50px 40px;
}

.no-inside-gutters > .col,
.no-inside-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}



/********** LOGO **********/

.logo {
    text-align: center;
    text-transform: uppercase;
}

.nav-title {
    text-align: center;
    text-transform: uppercase;
    line-height: 60px;
    margin: 0 -15px 0 -15px;
    font-size: 1em;
    font-weight: 900;
    font-family: Lato, sans-serif;
}

.logo h1 {
    line-height: 60px;
    margin: 0;
}

.logo a {
    font-family: 'Lato', sans-serif;
    color: inherit;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 900;
    display: block;
    margin: 0 0 0 -15px;
    width: calc(100% + 30px);
    height: 100%;
}

.tel a {
    font-size: 27px;
    font-weight: 900;
}

/********** MAIN NAV NAVIGATION **********/
nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-type: none;
}

nav .nav-button {
    height: 60px;
    border: 1px solid #ECECEC;
    border-right: none;
    line-height: 60px;
    padding-left: 50px;
    font-size: 20px;
    font-family: 'Lato',sans-serif;
    cursor: pointer;
    transition: 1s;
}

    nav .nav-button:after {
        content: ">";
        position: absolute;
        right: 20px;
    }

#nav-slider {
    min-height: 462px;
    position: absolute;
    top: 0;
    left: -100%;
    background: white;
    width: calc(100% + 1px);
    transition: 1s;
    border-bottom: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC;
    padding: 15px;
    overflow: hidden;
}

    #nav-slider.active {
        transform: translateX(calc(100% - 1px));
        display: block;
        transition: 1s;
    }

    .z-forward {
        z-index: 1;
        background: #fff;
    }

.nav-slider-inner {
    position: absolute;
    left: -100%;
    width: calc(100% - 30px);
    text-align: center;
    transition-delay: 0.2s;
}

    .nav-slider-inner.active {
        transform: translateX(calc(100% + 30px));
        transition-delay: 0.2s;
    }

.nav-slider-inner ul {
    list-style-type: none;
    margin: 20px 20px 0 20px;
    padding: 0;
}

    .nav-slider-inner ul li {
        text-transform: uppercase;
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-slider-inner ul.horizontal li {
        display: inline;
    }

    .nav-slider-inner .nav-img {
        width: 100%;
        margin-bottom: 20px;

    }

        .nav-slider-inner .nav-img img {
            max-width: 100%;
        }

        .nav-slider-inner .fa-angle-left, .nav-slider-inner .fa-angle-right {
            position: absolute;
            top: 305px;
            font-size: 50px;
            cursor: pointer;
        }

    .nav-slider-inner .fa-angle-left {
        left: 25px;
    }

    .nav-slider-inner .fa-angle-right {
        right: 25px;
    }

    .nav-slider-inner .selected {
        font-weight: 700;
    }

    #artists {
        float: left;
        text-align: left;
    }

    #artists a:hover {
        font-weight: bold;
    }



/********** ADMIN NAVIGATION **********/
.admin-nav ul {
    padding: 0;
}

.admin-nav li {
    list-style-type: none;
    margin-left: -15px;
    margin-right: -15px;
    border: 1px solid #ECECEC;
    border-left: 0;
}

    .admin-nav li a {
        display: block;
        width: 100%;
        line-height: 40px;
        padding-left: 15px;
    }

        .admin-nav li a:hover, .admin li a:active {
            color: #FFF;
        }

    .admin-nav li:hover {
        background-color: #797979;
        border-right: #ECECEC;
    }


/********* MISC **********/


.thumbnail {
    width: 50px;
    height: 50px;
}

.artist-profile {
    width: 200px;
    height: 200px;
    border: 1px solid #ECECEC;
    margin: 15px;
}

.temp-holder {
    background-color: blue;
    min-height: 462px;
}


/*********IMS **********/

.body-content {
    padding-bottom: 15px;
    border-bottom:10px solid #404040;
}


/*************VALIDATION **************/

.field-validation-error, .validation-summary-errors {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}


/**********CUSTOMER ADDRESSES***********/

.addresses-grid address {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ECECEC;
    min-height: 170px;
    margin-top: 20px;
}

.addresses-grid .billing address, .addresses-grid .shipping address {
    background: #404040;
    color: #fff;
    transition: 1s;
}

    .addresses-grid address::before {
        content: "Address Not In Use";
        display: block;
        font-weight: bold;
    }

    .addresses-grid .shipping address::before {
        content: "Current Shipping Address";
        display: block;
        font-weight: bold;
    }

    .addresses-grid .billing address::before {
        content: "Current Billing Address";
        display: block;
        font-weight: bold;
    }

    .addresses-grid .billing.shipping address::before {
        content: "Current Billing & Shipping Address";
        display: block;
        font-weight: bold;
    }

.addresses-grid address:hover {
    border: 1px solid #404040;
    transition: 1s;
}


.button-wrapper {
    margin-bottom: 5px;
}

table {
    width: 100% !important;
}

.right {
    float: right;
}


.hide {
    display: none !important;
}

img {
    max-width: 100%;
}