<div id="account">
    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("_ManageAccountPartial")
    }
    else
    {
        Html.RenderAction("_LoginPartial", "Login", new { });
    }
</div>
