@model TheUnitGallery.ViewModels.HomepageViewModel

@{
    ViewBag.Title = "Modern Art Gallery";
}

<div class="row body-content no-inside-gutters">
    @*LEFT SIDE*@
    <div class="col-sm-12 col-md-6 z-forward">
        <div class="row">
            <div class="col-sm-12 sub-heading">
                <h2>@Model.Homepage.Title</h2>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-6 unit-site">
                <img src="~/Uploads/default/theunit.jpg" />
            </div>
            <div class="col-md-6">
                <nav>
                    <ul>
                        <li><div class="nav-button" id="genre-btn">Genre</div></li>
                        <li><div class="nav-button" id="medium-btn">Medium</div></li>
                        <li><div class="nav-button" id="artist-btn">Artist</div></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 white-space">
                <h2>About us...</h2>
                @if (Model.Homepage.Content.Content != null)
                {
                    @Html.Raw(Model.Homepage.Content.Content)
                }
            </div>
        </div>
    </div>
    @*END LEFT SIDE*@

    <div class="col-sm-12 col-md-6">
        <div class="temp-holder"></div>
        <div id="nav-slider">@Html.Partial("_NavigationSliderPartial", Model)</div>
        <div class="white-space">
            <h5>Featured Art</h5>
            <h2>Artwork Name Here</h2>
            <span class="author">Frank Smith</span>

        </div>
    </div>
</div>

@{Html.RenderAction("Adstrip", "Footer", new { area = "", blockStripIdentifier = "Adstrip" });}