@model TheUnitGallery.Areas.IMS.ViewModels.CustomerFormViewModel

@using TheUnitGallery.Areas.IMS.ViewModels

<div class="row body-content">
    @Html.Partial("_IMSAdminNavPanel")
    <div class="col-sm-9 col-md-10">
        <div class="row">
            <div class="col-sm-12">
                <h3>@Model.Title</h3>
                <hr />
            </div>
        </div>
        @if (Model.Customer.Id != 0)
        {
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#profile-panel" role="tab">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#interaction-panel" role="tab">Interaction Log</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#order-panel" role="tab">Orders</a>
                    </li>
                </ul>
            </div>
        </div>
        }

        <div class="tab-content">
            <div class="tab-pane fade in show active" id="profile-panel" role="tabpanel">
                @Html.Partial("_CustomerProfilePanelPartial", Model)
            </div>
            <div class="tab-pane fade" id="interaction-panel" role="tabpanel">
                @Html.Partial("_CustomerInteractionsPanelPartial", Model.Customer)
            </div>
            <div class="tab-pane fade" id="order-panel" role="tabpanel">
                <p>Orders will go here</p>
            </div>
        </div>
    </div>
</div>




@section scripts
{
    <script>
        $(document).ready(function () {

            var table = $("#interactions").DataTable({
                "order": [[2, "desc"]],
                ajax: {
                    url: "/api/interactions/" + $("#interactions").attr("data-customer-id") + "/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "description",
                        render: function (data) {
                            return data;
                        }
                    },
                    {
                        data: "staff.userName",
                        render: function (data) {
                            return data;
                        }
                    },
                    {
                        data: "date",
                        render: function (data) {
                            return data;
                        }
                    }
                ]
            });

            $("#log-interaction").on("click", function () {
                var button = $(this);


                var description = $("#interaction").val();
                var customerId = button.attr("data-customer-id");
                var staffId = button.attr("data-staff-id");

                if (description != "") {
                    var newInteraction = {
                        customerId: customerId,
                        staffId: staffId,
                        description: description,
                    };

                    $.ajax({
                        method: "POST",
                        url: "/api/interactions/",
                        contentType: "application/json",
                        data: JSON.stringify(newInteraction),
                        success: function () {
                            bootbox.alert("Interaction was succesfully logged");
                            $("#interaction").val("");
                            table.ajax.reload();
                        }
                    });
                }
            });

            
        });
    </script>
}

