@{
    ViewBag.Title = "Modern Art Gallery";
}

<div class="row body-content">
    @Html.Partial("_IMSAdminNavPanel")
    <div class="col-sm-9 col-md-10">
        <h2>Dashboard</h2>
        <hr />
        <p>Welcome to Picasso, the Business Management System for The Unit.</p>
        <p>COMPANY NEWS WILL GO HERE</p>
    </div>
</div>

