@using TheUnitGallery.Models

@{
    ViewBag.Title = "Artist Management";
}

<div class="row body-content">
    @Html.Partial("_IMSAdminNavPanel")
    <div class="col-sm-9 col-md-10">
        <h3>@ViewBag.Title</h3>
        <hr />
        @Html.ActionLink("Add New Artist", "New", "Artists", new { area = "IMS" }, new { @class = "btn btn-outline-success" })
        <hr />
        <table class="table table-striped" id="artists">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Alias</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>


</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            var table = $("#artists").DataTable({
                ajax: {
                    url: "/api/artists",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "firstName",
                        render: function (data, type, artist) {
                            return "<a href='artists/edit/" + artist.id + "'>" + artist.firstName + " " + artist.lastName + "</a>";
                        }
                    },
                    {
                        data: "alias",
                        render: function (data) {
                            return data;
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-outline-danger btn-sm js-delete' data-artist-id='" + data + "'>Delete</button>";
                        }
                    },
                ]


            });

            $("#artists").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this artist?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/artists/" + button.attr("data-artist-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw()

                            }
                        });
                    }
                });
            });
        });

    </script>
}
